.report-layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chart-table-report-layout {
  display: flex;
  background-color:bisque;
}

.chart {
  width: 50% !important;
  background-color: white !important;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px,
}

.report-table {
  height: 100%;
  width: 100%;
  border-radius: 5px !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  background-color: white !important;
  width: 50% !important;
}

.table {
  padding: 20px 0 20px 20px;
  border-radius: 5px !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
